@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#about,
#projects,
#contact {
  scroll-margin: 50px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #e8e8e8;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(45deg, #1d4ed8, #3b82f6);
  background-image: -o-linear-gradient(45deg, #1d4ed8, #3b82f6);
  background-image: linear-gradient(45deg, #1d4ed8, #3b82f6);
}

::-moz-selection {
  background: rgba(166, 175, 189, 0.3);
}

::selection {
  background: rgba(166, 175, 189, 0.3);
}